header {
    height: 10vh;
    width: 100%;
    background-color: #2D333B;

    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: 'inter, Roboto, Arial';
    font-size: 24px;
    color: white;

}